<nav><mat-toolbar class="mat-elevation-z8">
  Welcome!

  <button class="home" mat-button [routerLinkActive]="'active'" routerLink="/home">Home</button>
  <button class="new-book" mat-button [routerLinkActive]="'active'"  routerLink="/neue-buchung">New booking</button>
  <button class="new-book" mat-button [routerLinkActive]="'active'"  routerLink="/list-buchung">List of bookings</button>
  <button class="new-book" mat-button [routerLinkActive]="'active'"  routerLink="/chatbot">Entertainment</button>
  <countdown #cd class="Timerlogout" [config]="{leftTime: timer}"></countdown>
  <button class="new-book1" mat-button [routerLinkActive]="'active'"  routerLink="/login"><p class="logout"> Logout</p></button>
</mat-toolbar>
</nav>
