.mat-toolbar{
  background: #9b59b6;
  color: white;
  height: 50px;
}
.active{
  background-color: darkslategray;

}
.home{
  margin-left: 370px;
  font-size: 18px;
}
.new-book{
  margin-left: 10px;
  font-size: 18px;

}
.new-book1{

  margin-left: 400px;
  margin-top: auto;
  font-size: 18px;
}
