.mat-toolbar{
  background: #9b59b6;
  color: white;
  height: 50px;
}
.active{
  background-color: darkslategray;

}
.home{
  margin-left: 25%;
  font-size: 18px;
}
.new-book{
  font-size: 18px;
}
.Timerlogout{
  margin-left: 24%;
  font-size: 13px;
  color: yellow;
}
.logout{
  margin-top: 0.5em;

}
