.mat-toolbar{
  background: #9b59b6;
  color: white;
  height: 50px;
}
.active{
  background-color: darkslategray;

}
.home{
  margin-left: 290px;
  font-size: 18px;
}
.new-book{
  margin-left: 15px;
  font-size: 18px;
}
.Timerlogout{
  margin-left: 250px;
  font-size: 13px;
  color: yellow;
}
.new-book1{
  margin-top: auto;
  font-size: 18px;
}
