*{
  margin: 0;
  padding: 0;
}

.errormessage{
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  margin-left: 10%;
  margin-top: 10%;
}
.loading{
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  margin-left: 30%;
  margin-top: 10%;
}
body{
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
.div-container{
  margin-left: 1px;
  margin-top: 1px;
}
form{
  width: 90%;
  padding: 40px;
  border-radius: 8px;
  background-image: url("src/assets/images/bg.jpg");
  box-shadow: 4px 4px 1px rgba(0,0,0,0.404);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
.table{
  margin-top: 0;
}
h1{
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to right, rgb(162,0,255), rgb(74,15,236));
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: -10px;
}

.inputs_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{
  height: 40px;
  width: 240px;
  margin: 15px;
  padding: 0px 25px;
  border-radius: 10px;
  border: none;
  background-color: white;
  box-shadow: 3px 3px 6px rgb(0,0,0,0.212);
  color: black;
  font-size: 20px;
  transition: 0.2s;
}
input:hover{
  background-color: #47505f;
}
input:focus{
  outline: none;
  background-color: #47505f;
  width: 265px;
}
input::placeholder{
  color: rgb(159, 161, 190);
}


p{
  font-size: 20px;
  color: red;
}
@media (max-width: 650px) {
  form{
    height: 100px;
    width: 100%;
    justify-content: center;
  }
  .inputs_container{
    margin: 8px;
  }

}

.dt0{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: 100% 4px;
  font-size: 20px;
}
mat-form-field{
  margin-left: 5%;
}
