<!DOCTYPE html>
<html lang="en">
<app-navbar></app-navbar>
<head>
  <title></title>
</head>
<body>
<div>

  <div class="child1">
    <br><br><br><br>
    <form class="ui container form" appearance="fill" [formGroup]="form_search">
      <input class="theinput" type="search" formControlName="search" style="height: 30px;" [(ngModel)]="search">
    </form>
  </div>
</div>
<br>
<br>
<div class="content" role="main">
  <ng-container *ngIf="dataSource; else loadingOrError">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="data | filter: search" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="Bookingnumber">
          <th mat-header-cell mat-sort-header="Bookingnumber" *matHeaderCellDef> Booking </th>
          <td mat-cell *matCellDef="let element"> {{element.Bookingnumber}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Gender"> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Firstname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Firstname"> Firstname </th>
          <td mat-cell *matCellDef="let element"> {{element.Firstname}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Lastname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Lastname"> Lastname </th>
          <td mat-cell *matCellDef="let element"> {{element.Lastname}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Email"> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Phonenummer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Phonenummer"> Phonenummer </th>
          <td mat-cell *matCellDef="let element"> {{element.Phonenummer}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Roomnumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Roomnumber"> Roomnumber </th>
          <td mat-cell *matCellDef="let element"> {{element.Roomnumber}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Startdate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Startdate"> Startdate </th>
          <td mat-cell *matCellDef="let element"> {{element.Startdate}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Enddate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Enddate"> Enddate </th>
          <td mat-cell *matCellDef="let element"> {{element.Enddate}} </td>
        </ng-container>


        <!-- Symbol Column -->
        <ng-container matColumnDef="Administration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Action"> Administration </th>
          <td mat-cell *matCellDef="let element let i = index;">
            <button mat-icon-button matTooltip="bearbeiten" color="primary" aria-label="bearbeiten"
                    (click)="update_student(element.id)">
              <mat-icon>mode_edit_outline</mat-icon>
            </button>
            <button mat-icon-button matTooltip="löschen" color="warn" aria-label="löschen"
                    (click)="delete_student(element.id, i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="">
          <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
          <mat-cell *matCellDef="let element;"></mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>

  </ng-container>
  <ng-template #loadingOrError>
    <ng-container *ngIf="errorObject; else loading">
      <div class="col-12 text-center">
        <div class="alert alert-danger">
          <p class="errormessage"> {{ errorObject }}</p>
        </div>
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="col-12 text-center">
        <p class="loading">Loading ...</p>
      </div>
    </ng-template>
  </ng-template>
</div>

</body>
</html>
