
html{
  height: 200%;
  background-image: url("src/assets/images/bg.jpg");
}
table td{
  text-align: center;
  vertical-align: middle;
}

.theinput{
  margin-left: 40%;
  width: 200px;
}
.content{
  display: block;
  margin: 32px auto 32px;
  padding: 0 16px;
  max-width: 95%;
  flex-direction: column;
  align-items: center;
}
.errormessage{
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  margin-left: 10%;
  margin-top: 10%;
  line-height:1em;
}
.loading{
  text-align: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  margin-top: 10%;
}

.No-Data{
  text-align: center;
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  margin-top: 10%;
}
