<html>
<div class="general">
  <div class="general1">
    <form class="ui container form" appearance="fill">

      <ng-container *ngIf="data_api$ | async as data; else loadingOrError">
        <h1>This booking will be deleted:</h1>
        <table class="table">
          <tr>
            <td>
              <p style="font-size: 20px; color: white;">Gender:</p> </td>
            <td>
              <p style="font-size: 20px; color: yellow;">{{data.Gender}}</p>
            </td>
          </tr>

          <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
          <tr>
            <td>
              <p style="font-size: 20px; color: white;">Firstname:</p></td>
            <td> <p style="font-size: 20px; color: yellow;">{{data.Firstname}}</p>
            </td>
          </tr>
          <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
          <tr>
            <td>
              <p style="font-size: 20px; color: white;">Lastname:</p> </td>
            <td>
              <p style="font-size: 20px; color: yellow;"> {{data.Lastname}}</p>
            </td></tr>
          <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
          <tr>
            <td>
              <p style="font-size: 20px; color: white;">E-mail:</p> </td>
            <td>
              <p style="font-size: 20px; color: yellow;">{{data.Email}}</p>
            </td></tr>
          <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
          <tr>
            <td>
              <p style="font-size: 20px; color: white;">Phone number:</p> </td>
            <td>
              <p style="font-size: 20px; color: yellow;">{{data.Phonenummer}}</p>
            </td></tr>
          <tr>
            <td>
              <p style="font-size: 20px; color: white;">Arrival date::</p> </td>
            <td>
              <p style="font-size: 20px; color: yellow;">{{data.Startdate}}</p>
            </td></tr>
          <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>

          <tr>
            <td>
              <p style="font-size: 20px; color: white;">Departure date:</p> </td>
            <td>
              <p style="font-size: 20px; color: yellow;">{{data.Enddate}}</p>
            </td></tr>
          <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
          <tr>
            <td>
              <p style="font-size: 20px; color: white;">Reserved room number:</p></td>
            <td>
              <p style="font-size: 20px; color: yellow;">{{data.Roomnumber}}</p>
            </td></tr>
        </table>
        <br>
        <button class="btn6" mat-raised-button color="primary" (click)="ClickClose()">Cancel</button>
        <button class="btn5" mat-raised-button color="warn" (click)=" delete_student(); deletebookedroom()">Delete booking</button>
      </ng-container>
    </form>

    <ng-template #loadingOrError>
      <ng-container *ngIf="errorObject; else loading">
        <div class="col-12 text-center">
          <div class="alert alert-danger">
            <p class="errormessage"> {{ errorObject }}</p>
          </div>
        </div>
      </ng-container>

      <ng-template #loading>
        <div class="col-12 text-center">
          <p class="loading">Loading ...</p>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
</html>
