<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<div>
  <app-navbar></app-navbar>
</div>
<head>
  <title></title>
</head>
<body>
<div class="container">
  <div class="title"><p class="book"> Room booking</p></div>
  <div class="content">
    <form [formGroup]="form" (ngSubmit)="Roomsearch(form)">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Arrival date</span>
          <input type="date" formControlName="Startdate" placeholder="Your arrival date" required>
        </div>
        <div class="input-box">
          <span class="details">Departure date</span>
          <input type="date" formControlName="Enddate" placeholder="Your departure date" required>
        </div>
        <div class="button">
          <br>
          <input type="submit" value="Search for available rooms">
        </div>
        <div class="errorform">
          <p class="errordateMessage"> {{errorform}}</p>
        </div>
      </div>
      <br><br>

      <div *ngIf="showHide">
        <div *ngIf="freerooms">

            <div class="fcf-body">

              <div id="fcf-form">
                <h3 class="fcf-h3">Customer infos</h3>

                <form id="fcf-form-id" class="fcf-form-class" [formGroup]="form">
                  <br><br>

                  <table>
                    <tr>
                      <td>
                  <mat-form-field appearance="fill">
                    <mat-select formControlName="Roomnumber" placeholder="Free rooms">
                      <mat-option *ngFor="let Freeroom of freerooms" value="{{Freeroom}}">{{Freeroom}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                      </td>
                      <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                      <td>
                  <mat-form-field appearance="fill">
                    <mat-select formControlName="Gender" placeholder="Gender">
                      <mat-option [value]="'Mr.'">Mr.</mat-option>
                      <mat-option [value]="'Ms.'">Ms.</mat-option>
                      <mat-option [value]="'Divers.'">Divers.</mat-option>
                    </mat-select>
                  </mat-form-field>
                      </td>
                    </tr>
                  </table>
                  <div class="fcf-form-group">
                    <label for="Firstname" class="fcf-label">Firstname</label>
                    <div class="fcf-input-group">
                      <input type="text" id="Firstname" formControlName="Firstname" name="Name" class="fcf-form-control" required>
                    </div>
                  </div>
                  <div class="fcf-form-group">
                    <label for="Lastname" class="fcf-label">Lastname</label>
                    <div class="fcf-input-group">
                      <input type="text" id="Lastname" formControlName="Lastname" name="Name" class="fcf-form-control" required>
                    </div>
                  </div>
                  <div class="fcf-form-group">
                    <label for="Phonenummer" class="fcf-label">Phone number</label>
                    <div class="fcf-input-group">
                      <input type="number" id="Phonenummer" formControlName="Phonenummer" name="Name" class="fcf-form-control" required>
                    </div>
                  </div>

                  <div class="fcf-form-group">
                    <label for="Email" class="fcf-label">Email address</label>
                    <div class="fcf-input-group">
                      <input type="email" id="Email" formControlName="Email" name="Email" class="fcf-form-control" required>
                    </div>
                  </div>
                  <div class="fcf-form-group">
                    <label for="Startdate" class="fcf-label">Arrival date</label>
                    <div class="fcf-input-group">
                      <input type="date" id="Startdate" formControlName="Startdate" name="Startdate" class="fcf-form-control" required>
                    </div>
                  </div>
                  <div class="fcf-form-group">
                  <label for="Enddate" class="fcf-label">Departure date</label>
                  <div class="fcf-input-group">
                    <input type="date" id="Enddate" formControlName="Enddate" name="Enddate" class="fcf-form-control" required>
                  </div>
              </div>

                  <br><br>
                  <div class="fcf-form-group">
                    <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block" [disabled]="!form.valid" (click)="onSubmit()">Booking of the
                      room</button>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
    </form>
      </div>
  </div>

</body>
</html>
