html {
  font-family: Roboto,
  "Helvetica Neue",
  sans-serif;
  background-image: url("src/assets/images/bg.jpg");
  background-size: 500%;
  height: 100%;
}



.btn5{
  margin-left: 120px;
}
.btn6{
  margin-left: 70px;
}
.table{
  margin-left: 5em;
}
.td10{
  text-align: left;
}
h1{
  color: red;
  margin-left: 3em;
}
.td{
  height: 50px;
  font-size: 15px;
}
.errormessage{
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  margin-left: 10%;
  margin-top: 40%;
}
.loading{
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  margin-left: 25%;
  margin-top: 40%;
}
