
*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  height: 100%;
  background-color: green;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
nav{
  height: 90px;
width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.144);
}
nav li{
  display: inline-block;
  margin-top: 30px;
  margin-right: 40px;
}
nav li{
  font-family: Arial, Helvetica, Sans-serif, serif;
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

